$dark : #333333;
$white : #ffffff;
$gray : #eeeeee;
$green-primary : #80ba1f;
$green-light : #a6cc64;
$green-dark : #416e13;
$btn-background : #2e4417;
$text-color : #314528;
$headers-color : #32620e;